<div class="container my-4">
    <!--Carousel Wrapper-->
    <!--/.Carousel Wrapper-->
<br>
    <h2 class=" h2 text-center" style="color: rgb(25, 88, 80);"></h2>

    <!--Carousel Wrapper-->
    <div
      id="carousel-example-2"
      class="carousel slide carousel-fade z-depth-1-half"
      data-ride="carousel"
    >
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li
          data-target="#carousel-example-2"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="view">
            <img
              class="d-block w-100"
              src="/assets/images/slider/homeloan_slider1.jpg"
              alt="First slide"
              style="height: 500px;width: 700px;"
            />
            <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive"> </h3> <!--Caption-->
            <p style="color: black;font-weight: bold;"> Home Loans is the largest Mortgage Lender in India, which has helped over 30 lakh families to achieve the dream of owning a home.</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img
              class="d-block w-100"
              src="/assets/images/slider/homeloan_slider2.jpg"
              alt="Second slide"
              style="height: 500px;width: 700px;"
            />
            <div class="mask rgba-black-strong"></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive"></h3> <!--Caption-->
            <p style="color: rgb(17, 17, 17);font-weight: bold;">  
                As a valued customer you can now avail Instant Sanction of your Home Loan at attractive interest rate</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img
              class="d-block w-100"
              src="/assets/images/slider/homeloan_slider4.jpg"
              alt="Third slide" style="height: 500px;width: 700px;"
            />
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive"> </h3>  <!--Caption-->
            <p style="color: rgb(17, 17, 17);font-weight: bold;"> 
                As a valued customer you can now avail Instant Sanction of your Home Loan at attractive interest rate</p>
          </div>
        </div>
      </div>
      <!--/.Slides-->
      <!--Controls-->
      <a
        class="carousel-control-prev"
        href="#carousel-example-2"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carousel-example-2"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
  </div>