<html>
  <header class="header">
    <img
      src="https://seeklogo.com/images/H/home-loan-logo-47AE303918-seeklogo.com.png"
      routerLink="/home"
    />
    <!-- check bank name -->
    <h1 class="logo"><a href="#">AIB</a></h1>
    <ul class="main-nav">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/aboutUs">About</a></li>
      <li><a routerLink="/contactUs">Contact</a></li>
      <li><a routerLink="/calculator">Calculator</a></li>
      <li><a routerLink="/loan">Loan</a></li>
    </ul>
  </header>

  <div>
    <router-outlet></router-outlet>
  </div>
</html>

