* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
  color: #34495e;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 1.45em;
}

.main-nav {
  margin-top: 5px;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #a2a2a2;
  background-color: #e1ebee;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  /* .header {
    flex-direction: column;
    align-items: center; */
    /* .header {
      width: 80%;
      margin: 0 auto;
      max-width: 1150px;
    } */
  /* } */
} 

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* 
.navigation{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-weight: 400;
  padding: 3px;
  font-size: 20px;
  cursor: pointer;
}

.menuBar{
  background-color: #2c3968;
} */

img,
svg {
  /* vertical-align: middle; */
  width: 50px;
  height: 50px;
  margin-left: 13px;
}
li {
  display: inline;
  margin-right: 40px;
}
nav ul li a {
  color: black;
  font-weight: 700;
}
nav ul li a:hover {
  color: green;
}
#liBackgroundColor {
  background-color: #797676;
}
.navbar-collapse {
  justify-content: flex-end;
}
.header {
  /* background-image: url('../assets/images/home1.jpg'); */
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0;
  /* height: 100%;
        width: 100%; */
}
.description {
  position: relative;
  text-align: center;
  color: white;
}
/* .bottom-left {
            position: absolute;
            bottom: 8px;
            left: 16px;
          } */

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 17px;
}

/* .top-right {
            position: absolute;
            top: 8px;
            right: 16px;
          }
          
          .bottom-right {
            position: absolute;
            bottom: 8px;
            right: 16px;
          }
          
          .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          } */
.menu-btn {
  background-color: #aad2ee;
  color: rgb(37, 34, 34);
  border: none;
}
.dropdown-menu {
  display: contents;
  position: static;
}
.menu-content {
  display: none;
  position: absolute;
  background-color: #d9ebeb;
  min-width: 160px;
  z-index: 1;
}

.links,
.links-hidden {
  display: inline-block;
  color: rgb(15, 14, 14);
  padding: 12px 16px;
  text-decoration: none;
  margin-top: 15px;
}
.links-hidden {
  display: block;
}
.links {
  display: inline-block;
}
.links-hidden:hover,
.links:hover {
  background-color: rgb(192, 209, 199);
}
.dropdown-menu:hover .menu-content {
  display: block;
}
.dropdown-menu:hover .menu-btn {
  background-color: #3e8e41;
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
    bottom: 0;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}