<div style="margin: 18px;word-wrap:break-word;text-align:justify;">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, maiores
  ipsum sed repudiandae eius sit hic est tenetur consequuntur fugiat autem
  voluptas optio tempore quas dolorem incidunt voluptatum. Mollitia, et. Ab,
  saepe quod fugit reprehenderit iste eaque illo labore a maiores odio sapiente
  veniam error magnam ullam molestiae et. Sit iure rem nobis illo ipsa facere
  ab, minus ipsum aliquam. Distinctio possimus exercitationem libero, repellat
  error pariatur blanditiis quasi a tenetur, consequatur velit nemo reiciendis
  nam! Hic corporis quis minus at optio qui assumenda, repellendus temporibus
  vero voluptate animi fuga. Illo minus corporis, modi distinctio nostrum fugit
  at magni sequi quas, non adipisci culpa, amet ullam fugiat aperiam voluptate a
  sint recusandae dolor doloremque nisi nemo quo? Delectus, odit tenetur. Magni
  recusandae architecto provident impedit veritatis! Facilis ad totam mollitia
  est quis veritatis consectetur nulla culpa quia. Doloremque, possimus
  voluptate animi veniam ipsa non fugit vero laborum tempora praesentium quasi.
</div>
<h1>About Us</h1>
<div
  class="row text-center main"
  style="
    background-color: #f4f3f3;
    box-shadow: rgba(1, 1, 3, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(4, 11, 19, 0.35) 0px -2px 6px 0px inset;
    margin: 3px;
  "
>
  <!-- Team item-->
  <div class="col-xl-2 col-sm-6 mb-5 styling">
    <div class="bg-white rounded shadow-sm py-5 px-4">
      <img
        src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png"
        alt=""
        width="100"
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
      />
      <h5 class="mb-0">Samuel Hardy</h5>
      <span class="small text-uppercase text-muted">CEO - Founder</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- End-->

  <!-- Team item-->
  <div class="col-xl-2 col-sm-6 mb-5 styling">
    <div class="bg-white rounded shadow-sm py-5 px-4">
      <img
        src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png"
        alt=""
        width="100"
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
      />
      <h5 class="mb-0">Samuel Hardy</h5>
      <span class="small text-uppercase text-muted">CEO - Founder</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- End-->

  <!-- Team item-->
  <div class="col-xl-2 col-sm-6 mb-5 styling">
    <div class="bg-white rounded shadow-sm py-5 px-4">
      <img
        src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png"
        alt=""
        width="100"
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
      />
      <h5 class="mb-0">Tom Sunderland</h5>
      <span class="small text-uppercase text-muted">CEO - Founder</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- End-->

  <!-- Team item-->
  <div class="col-xl-2 col-sm-6 mb-5 styling">
    <div class="bg-white rounded shadow-sm py-5 px-4">
      <img
        src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png"
        alt=""
        width="100"
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
      />
      <h5 class="mb-0">John Tarly</h5>
      <span class="small text-uppercase text-muted">CEO - Founder</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- End-->

  <div class="col-xl-2 col-sm-6 mb-5 styling">
    <div class="bg-white rounded shadow-sm py-5 px-4">
      <img
        src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png"
        alt=""
        width="100"
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
      />
      <h5 class="mb-0">Samuel Hardy</h5>
      <span class="small text-uppercase text-muted">CEO - Founder</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xl-2 col-sm-6 mb-5 styling" style="align-items: center">
    <div class="bg-white rounded shadow-sm py-5 px-4">
      <img
        src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png"
        alt=""
        width="100"
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
      />
      <h5 class="mb-0">Samuel Hardy</h5>
      <span class="small text-uppercase text-muted">CEO - Founder</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xl-2 col-sm-6 mb-5 styling">
    <div class="bg-white rounded shadow-sm py-5 px-4">
      <img
        src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png"
        alt=""
        width="100"
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
      />
      <h5 class="mb-0">Samuel Hardy</h5>
      <span class="small text-uppercase text-muted">CEO - Founder</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
